<!DOCTYPE html>
<html>
  <head>
    <title>Book-ipedia</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'%>
    <%= stylesheet_link_tag    'application', media: 'all' %>

    <%= javascript_include_tag 'https://code.jquery.com/jquery-3.2.1.min.js' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' %>
  </head>
  <style>
    .intro {
      font: 15px arial, sans-serif;
    }
  </style>

  <body>
    <%= render 'layouts/navbar' %>

    <% if flash[:notice].present? %>
      <div class="alert alert-info">
        <p><strong><%= flash[:notice] %></strong></p>
      </div>
    <% end %>
    <% if flash[:alert].present? %>
      <div class="alert alert-danger">
        <p><strong><%= flash[:alert] %></strong></p>
      </div>
    <% end %>
    <div class = "container">
      <h4> Welcome to Book-ipedia! </h4>
      <p class = "intro"> We are a community of people who love to read.<br>Feel free to browse the books, contribute your own books to the database, and add your own reviews! </p>
    </div>
    <hr>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
